html,
body {
  margin: 0;
  padding: 0;
}

.nav ul {
  margin: 0%;
}

.nav li {
  display: inline;
}

.nav a {
  display: inline-block;
  padding: 0.4em;
  color: black;
  text-decoration: none;
}

.main-nav {
  padding: 0 5%;
}

nav a:hover {
  background-color: white;
}
.main-header {
  background-color: rgb(0, 0, 0, 0.6);
  background-image: url("Images/1190478.jpg");
  background-blend-mode: multiply;
  background-size: cover;
  padding-bottom: 145px;
}

.cos-name {
  text-align: center;
  margin: 0;
  font-size: 2em;
}
